In [1]:
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt

import pandas as pd
import numpy as np

from tqdm import tqdm
tqdm.pandas(desc="progress-bar")
from tqdm import tqdm_notebook

import gensim
from gensim.models import Doc2Vec
from gensim.models.doc2vec import TaggedDocument

from sklearn import utils
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, f1_score

from sklearn.feature_extraction.text import TfidfTransformer, CountVectorizer

import seaborn as sns

import multiprocessing

import re

import nltk
from nltk.corpus import stopwords

%matplotlib inline

In [2]:
data_tokenize_lemmatize = pd.read_csv('data_tokenize_lemmatize.csv')
data_tokenize_lemmatize.head(2)

,Unnamed: 0,new_course_id,course_id,title_tokenize_lemmat,about_tokenize_lemmat,syllabus_tokenize_lemmat,instructors_tokenize_lemmat,key_words_tokenize_lemmat,recommendations_tokenize_lemmat
0,0,0,2-speed-it,two speed company surf digital wave bcg perspe...,transform disappear darwinism order adapt digi...,introduction cio digital world steer balance s...,antoine gour vitch vanessa lyon eric baudson,business business essential,fundamentals-of-management entrepreneurial-thi...
1,1,5,3d-printing-applications,printing application,help understand printing applied across number...,orientation module printing new making module ...,vishal sachdev,business entrepreneurship,mechanic beam-bending

In [3]:
len(data_tokenize_lemmatize)

1299

In [4]:
data_tokenize_lemmatize=data_tokenize_lemmatize.drop(['Unnamed: 0'], axis=1)

In [5]:
data_tokenize_lemmatize.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1299 entries, 0 to 1298
Data columns (total 8 columns):
new_course_id                      1299 non-null int64
course_id                          1299 non-null object
title_tokenize_lemmat              1298 non-null object
about_tokenize_lemmat              1299 non-null object
syllabus_tokenize_lemmat           1296 non-null object
instructors_tokenize_lemmat        1297 non-null object
key_words_tokenize_lemmat          1299 non-null object
recommendations_tokenize_lemmat    1259 non-null object
dtypes: int64(1), object(7)
memory usage: 81.3+ KB

# TFIDF на title

In [6]:
data_tokenize_lemmatize['title_tokenize_lemmat'] = data_tokenize_lemmatize['title_tokenize_lemmat'].astype(str)

In [7]:
cnt_vec = CountVectorizer() # создаёт векторы - количество равно количеству категорий и 
                            #записывает в каждый слот количество встречаемости данной характеристики для объекта 
processed = cnt_vec.fit_transform(data_tokenize_lemmatize['title_tokenize_lemmat'])
tfidf = TfidfTransformer()

In [8]:
tfidf_dense = tfidf.fit_transform(processed).todense()
tfidf_dense

matrix([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 0.        , 0.52918504,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.5       ]])

In [9]:
cnt_vec.vocabulary_

{'two': 1516,
 'speed': 1367,
 'company': 254,
 'surf': 1413,
 'digital': 374,
 'wave': 1577,
 'bcg': 114,
 'perspective': 1080,
 'printing': 1151,
 'application': 61,
 'revolution': 1253,
 'software': 1344,
 'anatomy': 51,
 'abdomen': 0,
 'pelvis': 1069,
 'journey': 796,
 'basis': 111,
 'clinic': 229,
 'introduction': 766,
 'ableton': 1,
 'live': 844,
 'aboriginal': 2,
 'worldviews': 1606,
 'education': 419,
 'academic': 4,
 'discussion': 388,
 'english': 458,
 'literacy': 842,
 'project': 1173,
 'writing': 1611,
 'research': 1233,
 'paper': 1054,
 'information': 724,
 'seeking': 1304,
 'accounting': 6,
 'analytics': 49,
 'finance': 543,
 'professional': 1166,
 'managerial': 870,
 'cost': 304,
 'behavior': 122,
 'system': 1423,
 'analysis': 47,
 'art': 82,
 'mooc': 948,
 'activism': 13,
 'social': 1338,
 'movement': 954,
 'addicted': 18,
 'brain': 156,
 'adhd': 20,
 'everyday': 496,
 'strategy': 1389,
 'elementary': 435,
 'student': 1397,
 'adjective': 21,
 'clause': 224,
 'advanced': 24,
 'algorithm': 38,
 'complexity': 261,
 'chemistry': 205,
 'competitive': 258,
 'data': 338,
 'structure': 1394,
 'java': 785,
 'visualization': 1565,
 'excel': 503,
 'manufacturing': 874,
 'enterprise': 463,
 'process': 1157,
 'modeling': 937,
 'discrete': 386,
 'optimization': 1031,
 'neurobiology': 988,
 'programming': 1172,
 'trading': 1493,
 'ii': 689,
 'rethinking': 1246,
 'ageing': 31,
 'prepared': 1139,
 'longer': 852,
 'age': 30,
 'jefferson': 788,
 'agile': 33,
 'planning': 1103,
 'product': 1162,
 'agriculture': 35,
 'economics': 415,
 'nature': 978,
 'aid': 36,
 'fear': 534,
 'hope': 667,
 'algorithmic': 39,
 'thinking': 1464,
 'part': 1061,
 'toolbox': 1481,
 'divide': 395,
 'conquer': 281,
 'sorting': 1351,
 'searching': 1297,
 'randomized': 1201,
 'graph': 620,
 'search': 1296,
 'shortest': 1324,
 'path': 1065,
 'greedy': 626,
 'minimum': 925,
 'spanning': 1360,
 'tree': 1507,
 'dynamic': 404,
 'revisited': 1252,
 'np': 1006,
 'complete': 259,
 'problem': 1156,
 'string': 1393,
 'effective': 422,
 'altruism': 42,
 'america': 43,
 'foreign': 561,
 'eye': 522,
 'analysing': 46,
 'business': 169,
 'metric': 916,
 'driven': 402,
 'increasing': 709,
 'real': 1209,
 'estate': 484,
 'management': 868,
 'profit': 1168,
 'harnessing': 646,
 'mastering': 884,
 'managing': 871,
 'big': 136,
 'mysql': 970,
 'communication': 252,
 'tableau': 1425,
 'analyzing': 50,
 'universe': 1528,
 'ancient': 52,
 'greek': 627,
 'paleontology': 1051,
 'marine': 878,
 'reptile': 1231,
 'build': 167,
 'first': 550,
 'android': 53,
 'app': 60,
 'centered': 190,
 'mobile': 933,
 'handheld': 640,
 'component': 262,
 'intent': 745,
 'activity': 14,
 'broadcast': 163,
 'receiver': 1212,
 'service': 1317,
 'local': 848,
 'ipc': 777,
 'content': 289,
 'provider': 1185,
 'front': 575,
 'end': 450,
 'javascript': 786,
 'framework': 570,
 'angular': 54,
 'animal': 56,
 'behaviour': 124,
 'welfare': 1585,
 'anticipating': 57,
 'next': 997,
 'battle': 112,
 'beyond': 133,
 'antimicrobial': 58,
 'resistance': 1236,
 'theory': 1458,
 'method': 914,
 'preparing': 1141,
 'ap': 59,
 'physic': 1092,
 'exam': 500,
 'apply': 63,
 'college': 242,
 'leading': 816,
 'positive': 1121,
 'change': 195,
 'appreciative': 65,
 'inquiry': 732,
 'approximation': 68,
 'archaeoastronomy': 73,
 'arch': 72,
 'titus': 1475,
 'rome': 1267,
 'menorah': 907,
 'arctic': 77,
 'climate': 228,
 'building': 168,
 'arduino': 78,
 'robot': 1260,
 'device': 367,
 'platform': 1105,
 'philosophy': 1086,
 'aristotle': 80,
 'successor': 1408,
 'interactive': 747,
 'engaging': 454,
 'negotiation': 983,
 'museum': 964,
 'teaching': 1436,
 'classroom': 223,
 'innovation': 728,
 'culture': 329,
 'heritage': 655,
 'genome': 595,
 'assembly': 83,
 'challenge': 193,
 'astronomy': 90,
 'exploring': 515,
 'time': 1472,
 'space': 1357,
 'astrobiology': 88,
 'extraterrestrial': 521,
 'life': 830,
 'confronting': 275,
 'question': 1198,
 'highlight': 659,
 'modern': 938,
 'astrotech': 91,
 'science': 1291,
 'technology': 1441,
 'behind': 126,
 'astronomical': 89,
 'discovery': 385,
 'assessment': 85,
 'st': 1373,
 'century': 191,
 'skill': 1334,
 'fundamental': 579,
 'audio': 95,
 'music': 965,
 'engineering': 457,
 'musical': 966,
 'sound': 1353,
 'electronics': 433,
 'signal': 1327,
 'processing': 1158,
 'getting': 602,
 'started': 1376,
 'augmented': 96,
 'reality': 1210,
 'autism': 98,
 'spectrum': 1365,
 'disorder': 390,
 'validation': 1541,
 'automaton': 100,
 'behavioural': 125,
 'equivalence': 478,
 'international': 756,
 'marketing': 880,
 'bacteria': 106,
 'chronic': 214,
 'infection': 715,
 'solution': 1347,
 'basic': 110,
 'statistic': 1380,
 'bayesian': 113,
 'concept': 269,
 'bd': 115,
 'lincs': 834,
 'coordination': 297,
 'integration': 741,
 'center': 189,
 'leader': 814,
 'develop': 363,
 'mechanic': 898,
 'material': 885,
 'iii': 690,
 'beam': 116,
 'bending': 128,
 'capstone': 178,
 'create': 313,
 'journalistic': 795,
 'portfolio': 1118,
 'edivet': 418,
 'take': 1427,
 'veterinarian': 1554,
 'beethoven': 120,
 'piano': 1096,
 'sonata': 1349,
 'behavioral': 123,
 'investing': 771,
 'human': 677,
 'genetics': 594,
 'foundation': 568,
 'learning': 820,
 'teacher': 1435,
 'bias': 134,
 'selection': 1305,
 'bible': 135,
 'prehistory': 1137,
 'purpose': 1191,
 'political': 1114,
 'future': 581,
 'bang': 107,
 'dark': 336,
 'energy': 451,
 'emerging': 443,
 'machine': 857,
 'history': 663,
 'connecting': 278,
 'knowledge': 805,
 'idea': 684,
 'today': 1477,
 'bilingual': 137,
 'bioconductor': 138,
 'genomic': 596,
 'biology': 142,
 'meet': 903,
 'bioinformatics': 140,
 'beginner': 121,
 'bioinformatic': 139,
 'biological': 141,
 'diversity': 394,
 'measure': 894,
 'sampling': 1276,
 'technique': 1440,
 'mathematical': 887,
 'biostatistics': 143,
 'boot': 154,
 'camp': 173,
 'brand': 157,
 'new': 995,
 'breast': 161,
 'cancer': 175,
 'computer': 267,
 'principle': 1149,
 'nand': 973,
 'tetri': 1452,
 'io': 774,
 'team': 1437,
 'entrepreneurship': 467,
 'decision': 345,
 'making': 866,
 'measurement': 895,
 'operational': 1028,
 'control': 292,
 'producing': 1161,
 'networking': 987,
 'meeting': 904,
 'negotiating': 982,
 'presentation': 1142,
 'speaking': 1363,
 'intelligence': 743,
 'tool': 1480,
 'invent': 769,
 'model': 936,
 'odyssey': 1014,
 'approach': 66,
 'canvas': 176,
 'entrepreneur': 465,
 'innovator': 730,
 'cybersecurity': 333,
 'principled': 1150,
 'proposing': 1180,
 'proofing': 1177,
 'practicing': 1133,
 'success': 1406,
 'plan': 1101,
 'inferential': 718,
 'predictive': 1135,
 'market': 879,
 'high': 658,
 'impact': 700,
 'strategic': 1388,
 'programmer': 1171,
 'camera': 172,
 'understanding': 1523,
 'metastasis': 912,
 'applying': 64,
 'investment': 772,
 'rule': 1270,
 'startup': 1377,
 'role': 1263,
 'global': 606,
 'capital': 177,
 'successful': 1407,
 'career': 180,
 'development': 366,
 'self': 1306,
 'coaching': 235,
 'pathway': 1066,
 'employment': 447,
 'cataract': 185,
 'surgery': 1414,
 'truth': 1513,
 'cat': 184,
 'dog': 398,
 'measuring': 896,
 'causal': 186,
 'effect': 421,
 'norm': 1003,
 'keeping': 799,
 'issue': 781,
 'changing': 197,
 'order': 1035,
 'channel': 198,
 'retailing': 1245,
 'chemerinsky': 203,
 'constitutional': 284,
 'law': 811,
 'individual': 712,
 'right': 1256,
 'liberty': 827,
 'government': 617,
 'chemical': 204,
 'health': 648,
 'chicken': 207,
 'childbirth': 209,
 'child': 208,
 'nutrition': 1009,
 'cooking': 296,
 'interdisciplinary': 751,
 'chinese': 211,
 'contemporary': 288,
 'china': 210,
 'politics': 1115,
 'world': 1604,
 'preventing': 1145,
 'pain': 1048,
 'write': 1610,
 'like': 833,
 'mozart': 957,
 'classical': 221,
 'composition': 263,
 'sociological': 1341,
 'classic': 220,
 'humanity': 679,
 'guided': 634,
 'reading': 1208,
 'client': 227,
 'need': 981,
 'requirement': 1232,
 'mitigation': 930,
 'developing': 365,
 'country': 306,
 'action': 11,
 'clinical': 230,
 'epidemiology': 473,
 'kidney': 802,
 'pancreas': 1052,
 'islet': 779,
 'transplantation': 1503,
 'assessing': 84,
 'terminology': 1448,
 'design': 360,
 'interpretation': 759,
 'trial': 1509,
 'cloud': 231,
 'computing': 268,
 'infrastructure': 725,
 'moving': 956,
 'cluster': 232,
 'mining': 926,
 'conversation': 293,
 'setting': 1318,
 'expectation': 507,
 'performance': 1073,
 'practice': 1132,
 'nearest': 980,
 'neighbor': 985,
 'collaborative': 240,
 'filtering': 541,
 'game': 584,
 'without': 1597,
 'chance': 194,
 'combinatorial': 243,
 'common': 250,
 'communicating': 251,
 'result': 1243,
 'workplace': 1602,
 'community': 253,
 'public': 1188,
 'economy': 416,
 'institution': 736,
 'architecture': 76,
 'comparing': 255,
 'gene': 591,
 'protein': 1182,
 'employee': 446,
 'compensation': 256,
 'complex': 260,
 'computational': 266,
 'neuroscience': 993,
 'conflict': 274,
 'resolution': 1237,
 'conjunction': 276,
 'connective': 279,
 'adverb': 25,
 'construction': 285,
 'estimating': 485,
 'scheduling': 1288,
 'creating': 314,
 'continuous': 291,
 'converter': 294,
 'circuit': 215,
 'copyright': 298,
 'educator': 420,
 'librarian': 828,
 'multimedia': 958,
 'corporate': 302,
 'opportunity': 1029,
 'essential': 482,
 'promoting': 1175,
 'value': 1544,
 'creation': 315,
 'financing': 545,
 'risk': 1258,
 'level': 825,
 'macroeconomic': 859,
 'variable': 1545,
 'creative': 316,
 'craft': 310,
 'character': 199,
 'plot': 1109,
 'description': 358,
 'style': 1401,
 'solving': 1348,
 'creativity': 317,
 'critical': 322,
 'cross': 323,
 'cultural': 328,
 'cryo': 324,
 'em': 437,
 'cryptography': 326,
 'bitcoin': 146,
 'cryptocurrency': 325,
 'interview': 763,
 'cyber': 332,
 'ten': 1445,
 'domain': 399,
 'factor': 526,
 'mobility': 934,
 'dairy': 335,
 'production': 1163,
 'lean': 817,
 'six': 1333,
 'sigma': 1326,
 'cleaning': 225,
 'collection': 241,
 'online': 1022,
 'telephone': 1443,
 'face': 523,
 'to': 1476,
 'medicine': 900,
 'sharing': 1321,
 'manipulation': 873,
 'scale': 1283,
 'pattern': 1067,
 'crash': 312,
 'scientist': 1293,
 'warehouse': 1573,
 'implementation': 702,
 'database': 339,
 'math': 886,
 'dashboard': 337,
 'storytelling': 1386,
 'visual': 1564,
 'federalism': 535,
 'decentralization': 343,
 'evaluating': 492,
 'africa': 29,
 'track': 1491,
 'record': 1215,
 'solid': 1346,
 'help': 653,
 'save': 1279,
 'think': 1463,
 'reason': 1211,
 'deductively': 347,
 'effectively': 423,
 'delivering': 350,
 'news': 996,
 'audience': 94,
 'demand': 352,
 'breaking': 160,
 'commercial': 248,
 'silo': 1329,
 'living': 846,
 'dementia': 353,
 'caregiver': 181,
 'society': 1339,
 'dental': 355,
 'city': 217,
 'back': 105,
 'town': 1490,
 'sociolog': 1340,
 'urbana': 1535,
 'para': 1055,
 'un': 1520,
 'mundo': 962,
 'globalizado': 609,
 'descriptor': 359,
 'statistical': 1381,
 'distribution': 392,
 'designing': 361,
 'implementing': 703,
 'user': 1537,
 'running': 1272,
 'experiment': 509,
 'organization': 1037,
 'organizational': 1038,
 'musicianship': 967,
 'sociologie': 1342,
 'urbaine': 1533,
 'pour': 1127,
 'monde': 944,
 'globalis': 607,
 'diabetes': 368,
 'fact': 525,
 'image': 694,
 'video': 1556,
 'securing': 1301,
 'democracy': 354,
 'university': 1529,
 'powerful': 1129,
 'logic': 849,
 'gate': 588,
 'processor': 1159,
 'thread': 1467,
 'transformation': 1496,
 'medium': 902,
 'apps': 69,
 'dino': 376,
 'dinosaur': 377,
 'paleobiology': 1050,
 'disability': 380,
 'awareness': 102,
 'support': 1411,
 'disaster': 381,
 'preparedness': 1140,
 'valuation': 1543,
 'using': 1538,
 'discounted': 382,
 'cash': 183,
 'flow': 554,
 'optimizing': 1033,
 'inclusion': 708,
 'finding': 546,
 'hidden': 657,
 'message': 909,
 'dna': 396,
 'mutation': 969,
 'vi': 1555,
 'sequencing': 1313,
 'emotion': 444,
 'cognition': 237,
 'doping': 400,
 'sport': 1369,
 'drug': 403,
 'commercialization': 249,
 'html': 676,
 'cs': 327,
 'relational': 1221,
 'dynamical': 405,
 'motion': 951,
 'particle': 1062,
 'body': 151,
 'supporting': 1412,
 'difficulty': 373,
 'imooc': 699,
 'american': 44,
 'early': 406,
 'vertebrate': 1550,
 'evolution': 498,
 'earth': 407,
 'ebola': 410,
 'virus': 1561,
 'disease': 389,
 'evolving': 499,
 'epidemic': 472,
 'sun': 1409,
 'total': 1485,
 'eclipse': 411,
 'august': 97,
 'economic': 414,
 'growth': 632,
 'distributive': 393,
 'justice': 798,
 'the': 1455,
 'state': 1378,
 'maximize': 890,
 'wellbeing': 1586,
 'policymaking': 1113,
 'transition': 1500,
 'russian': 1273,
 'ecosystem': 417,
 'sustainable': 1419,
 'ensuring': 462,
 'establishing': 483,
 'intercultural': 750,
 'ehealth': 428,
 'electronic': 432,
 'einstein': 429,
 'special': 1364,
 'relativity': 1223,
 'ecology': 412,
 'innovative': 729,
 'electric': 431,
 'utility': 1539,
 'magnetics': 862,
 'power': 1128,
 'achievement': 7,
 'ell': 436,
 'mind': 920,
 'family': 532,
 'school': 1290,
 'lesson': 822,
 'embedded': 439,
 'hardware': 644,
 'operating': 1026,
 'emergence': 440,
 'emergent': 442,
 'phenomenon': 1084,
 'inspiring': 735,
 'leadership': 815,
 'emotional': 445,
 'philosophical': 1085,
 'picture': 1097,
 'maintainable': 863,
 'final': 542,
 'teach': 1434,
 'foundational': 569,
 'entrepreneurial': 466,
 'mindset': 922,
 'step': 1382,
 'towards': 1489,
 'silicon': 1328,
 'valley': 1542,
 'growing': 631,
 'transitioning': 1501,
 'enumerative': 469,
 'combinatorics': 244,
 'pandemic': 1053,
 'outbreak': 1043,
 'infectious': 716,
 'epigenetic': 474,
 'expression': 519,
 'eportfolio': 476,
 'econometrics': 413,
 'efl': 426,
 'esl': 480,
 'task': 1431,
 'based': 109,
 'ethical': 488,
 'european': 491,
 'competing': 257,
 'europe': 490,
 'eu': 489,
 'policy': 1112,
 'work': 1600,
 'matter': 889,
 'offer': 1015,
 'executive': 505,
 'experimental': 510,
 'experimentation': 511,
 'improvement': 705,
 'exploratory': 514,
 'scalable': 1282,
 'exposure': 517,
 'photography': 1090,
 'extracellular': 520,
 'vesicle': 1551,
 'personal': 1077,
 'financial': 544,
 'review': 1251,
 'giving': 605,
 'helpful': 654,
 'feedback': 536,
 'fibonacci': 538,
 'number': 1007,
 'golden': 614,
 'ratio': 1204,
 'film': 540,
 'historical': 662,
 'th': 1454,
 'never': 994,
 'lie': 829,
 'everyone': 497,
 'non': 999,
 'manager': 869,
 'topic': 1483,
 'language': 809,
 'statement': 1379,
 'position': 1119,
 'finite': 547,
 'element': 434,
 'fire': 548,
 'people': 1070,
 'property': 1178,
 'environment': 470,
 'firm': 549,
 'consumer': 286,
 'producer': 1160,
 'allocation': 40,
 'fixing': 552,
 'healthcare': 649,
 'delivery': 351,
 'fluid': 555,
 'interaction': 746,
 'stanford': 1374,
 'food': 557,
 'beverage': 132,
 'forecasting': 560,
 'forensic': 562,
 'fraud': 571,
 'examination': 501,
 'formal': 564,
 'french': 573,
 'network': 986,
 'friend': 574,
 'money': 945,
 'byte': 170,
 'fmri': 556,
 'graphic': 621,
 'revenue': 1250,
 'cornerstone': 301,
 'galaxy': 582,
 'galois': 583,
 'document': 397,
 'define': 348,
 'welcome': 1584,
 'sensor': 1310,
 'gastronomy': 587,
 'gathering': 589,
 'google': 615,
 'core': 300,
 'sexing': 1319,
 'gender': 590,
 'violence': 1558,
 'worker': 1601,
 'general': 592,
 'condition': 271,
 'biotechnology': 144,
 'command': 247,
 'line': 835,
 'genomics': 597,
 'decoding': 346,
 'universal': 1527,
 'geodesign': 598,
 'geopolitics': 599,
 'map': 876,
 'geospatial': 600,
 'sit': 1332,
 'le': 812,
 'active': 12,
 'job': 793,
 'hired': 660,
 'promoted': 1174,
 'essay': 481,
 'responder': 1239,
 'gi': 603,
 'imagery': 696,
 'automation': 99,
 'format': 565,
 'quality': 1194,
 'diplomacy': 378,
 'environmental': 471,
 'crisis': 321,
 'instrument': 739,
 'interface': 753,
 'overview': 1044,
 'theatre': 1456,
 'globalization': 610,
 'warming': 1574,
 'python': 1192,
 'grammar': 618,
 'punctuation': 1190,
 'grant': 619,
 'proposal': 1179,
 'greening': 628,
 'scandinavia': 1285,
 'guitar': 636,
 'happiness': 642,
 'fulfillment': 576,
 'security': 1302,
 'lead': 813,
 'healing': 647,
 'care': 179,
 'older': 1017,
 'humanitarian': 678,
 'emergency': 441,
 'primary': 1148,
 'across': 9,
 'interprofessional': 760,
 'informatics': 723,
 'hospitality': 671,
 'marketplace': 881,
 'medical': 899,
 'evaluation': 493,
 'threat': 1468,
 'hi': 656,
 'five': 551,
 'enrichment': 460,
 'administrative': 22,
 'performing': 1074,
 'throughput': 1471,
 'plague': 1100,
 'witch': 1595,
 'war': 1572,
 'fiction': 539,
 'israel': 780,
 'sovereign': 1356,
 'rock': 1262,
 'holocaust': 665,
 'nazi': 979,
 'germany': 601,
 'ideology': 687,
 'jew': 790,
 'assisting': 86,
 'home': 666,
 'horse': 669,
 'hotel': 672,
 'tel': 1442,
 'de': 341,
 'toile': 1479,
 'thing': 1462,
 'website': 1581,
 'weekend': 1582,
 'resume': 1244,
 'publish': 1189,
 'scientific': 1292,
 'hpv': 673,
 'associated': 87,
 'oral': 1034,
 'throat': 1470,
 'know': 804,
 'hsk': 675,
 'web': 1580,
 'developer': 364,
 'miracle': 928,
 'linguistics': 837,
 'relationship': 1222,
 'resource': 1238,
 'hr': 674,
 'brief': 162,
 'spaceflight': 1358,
 'addressing': 19,
 'key': 801,
 'open': 1023,
 'multiplatform': 960,
 'ionic': 775,
 'cordova': 299,
 'hypothesis': 682,
 'testing': 1451,
 'confidence': 273,
 'interval': 761,
 'estimation': 486,
 'acute': 17,
 'rhinosinusitis': 1254,
 'comprehensive': 264,
 'ict': 683,
 'transforming': 1498,
 'curriculum': 330,
 'theme': 1457,
 'ignite': 688,
 'imagemaking': 695,
 'mar': 877,
 'hollywood': 664,
 'stop': 1384,
 'hospital': 670,
 'implant': 701,
 'dentistry': 356,
 'importance': 704,
 'listening': 841,
 'expanding': 506,
 'reach': 1205,
 'india': 710,
 'indigenous': 711,
 'canada': 174,
 'inductively': 713,
 'influencing': 720,
 'make': 865,
 'infographics': 721,
 'inform': 722,
 'discussing': 387,
 'clear': 226,
 'explanation': 513,
 'slide': 1335,
 'context': 290,
 'innovating': 727,
 'instructional': 738,
 'profession': 1165,
 'integrated': 740,
 'advertising': 26,
 'relation': 1220,
 'intellectual': 742,
 'humility': 681,
 'intelligent': 744,
 'machining': 858,
 'input': 731,
 'literature': 843,
 ...}

In [10]:
columns = [None for i in range(len(cnt_vec.vocabulary_))]
for n in cnt_vec.vocabulary_:
    columns[cnt_vec.vocabulary_[n]] = n
    
columns

['abdomen',
 'ableton',
 'aboriginal',
 'abstract',
 'academic',
 'access',
 'accounting',
 'achievement',
 'acquisition',
 'across',
 'act',
 'action',
 'active',
 'activism',
 'activity',
 'actor',
 'actuation',
 'acute',
 'addicted',
 'addressing',
 'adhd',
 'adjective',
 'administrative',
 'adolescent',
 'advanced',
 'adverb',
 'advertising',
 'advice',
 'aerial',
 'africa',
 'age',
 'ageing',
 'agent',
 'agile',
 'agricultural',
 'agriculture',
 'aid',
 'aim',
 'algorithm',
 'algorithmic',
 'allocation',
 'alternative',
 'altruism',
 'america',
 'american',
 'an',
 'analysing',
 'analysis',
 'analytic',
 'analytics',
 'analyzing',
 'anatomy',
 'ancient',
 'android',
 'angular',
 'angularjs',
 'animal',
 'anticipating',
 'antimicrobial',
 'ap',
 'app',
 'application',
 'applied',
 'apply',
 'applying',
 'appreciative',
 'approach',
 'approaching',
 'approximation',
 'apps',
 'apr',
 'ar',
 'arch',
 'archaeoastronomy',
 'archaeology',
 'architecting',
 'architecture',
 'arctic',
 'arduino',
 'argument',
 'aristotle',
 'array',
 'art',
 'assembly',
 'assessing',
 'assessment',
 'assisting',
 'associated',
 'astrobiology',
 'astronomical',
 'astronomy',
 'astrotech',
 'athlete',
 'attenuation',
 'audience',
 'audio',
 'augmented',
 'august',
 'autism',
 'automation',
 'automaton',
 'avoid',
 'awareness',
 'axa',
 'axial',
 'back',
 'bacteria',
 'bang',
 'banking',
 'based',
 'basic',
 'basis',
 'battle',
 'bayesian',
 'bcg',
 'bd',
 'beam',
 'beatles',
 'beauty',
 'becoming',
 'beethoven',
 'beginner',
 'behavior',
 'behavioral',
 'behaviour',
 'behavioural',
 'behind',
 'belief',
 'bending',
 'berry',
 'best',
 'better',
 'beverage',
 'beyond',
 'bias',
 'bible',
 'big',
 'bilingual',
 'bioconductor',
 'bioinformatic',
 'bioinformatics',
 'biological',
 'biology',
 'biostatistics',
 'biotechnology',
 'bird',
 'bitcoin',
 'bitumen',
 'blended',
 'blue',
 'board',
 'body',
 'bone',
 'book',
 'boot',
 'bootstrap',
 'brain',
 'brand',
 'branding',
 'break',
 'breaking',
 'breast',
 'brief',
 'broadcast',
 'buckling',
 'buddhism',
 'budgeting',
 'build',
 'building',
 'business',
 'byte',
 'calculus',
 'camera',
 'camp',
 'canada',
 'cancer',
 'canvas',
 'capital',
 'capstone',
 'care',
 'career',
 'caregiver',
 'case',
 'cash',
 'cat',
 'cataract',
 'causal',
 'cause',
 'cell',
 'center',
 'centered',
 'century',
 'chain',
 'challenge',
 'chance',
 'change',
 'changemaker',
 'changing',
 'channel',
 'character',
 'chart',
 'charting',
 'check',
 'chemerinsky',
 'chemical',
 'chemistry',
 'chest',
 'chicken',
 'child',
 'childbirth',
 'china',
 'chinese',
 'chord',
 'christianity',
 'chronic',
 'circuit',
 'citizen',
 'city',
 'civil',
 'civilization',
 'classic',
 'classical',
 'classification',
 'classroom',
 'clause',
 'cleaning',
 'clear',
 'client',
 'climate',
 'clinic',
 'clinical',
 'cloud',
 'cluster',
 'clustering',
 'coach',
 'coaching',
 'code',
 'cognition',
 'cognitive',
 'collaboration',
 'collaborative',
 'collection',
 'college',
 'combinatorial',
 'combinatorics',
 'combined',
 'comic',
 'command',
 'commercial',
 'commercialization',
 'common',
 'communicating',
 'communication',
 'community',
 'company',
 'comparing',
 'compensation',
 'competing',
 'competitive',
 'complete',
 'complex',
 'complexity',
 'component',
 'composition',
 'comprehensive',
 'computation',
 'computational',
 'computer',
 'computing',
 'concept',
 'concise',
 'condition',
 'conditionals',
 'confidence',
 'conflict',
 'confronting',
 'conjunction',
 'connected',
 'connecting',
 'connective',
 'connectivity',
 'conquer',
 'consequence',
 'constitution',
 'constitutional',
 'construction',
 'consumer',
 'contaminant',
 'contemporary',
 'content',
 'context',
 'continuous',
 'control',
 'conversation',
 'converter',
 'convincing',
 'cooking',
 'coordination',
 'copyright',
 'cordova',
 'core',
 'cornerstone',
 'corporate',
 'corruption',
 'cost',
 'counterterrorism',
 'country',
 'court',
 'cover',
 'cracking',
 'craft',
 'crafting',
 'crash',
 'create',
 'creating',
 'creation',
 'creative',
 'creativity',
 'credible',
 'crime',
 'criminal',
 'crisis',
 'critical',
 'cross',
 'cryo',
 'cryptocurrency',
 'cryptography',
 'cs',
 'cultural',
 'culture',
 'curriculum',
 'customer',
 'cyber',
 'cybersecurity',
 'cycle',
 'dairy',
 'dark',
 'dashboard',
 'data',
 'database',
 'dc',
 'de',
 'dealing',
 'decentralization',
 'deciphering',
 'decision',
 'decoding',
 'deductively',
 'define',
 'deflection',
 'delivering',
 'delivery',
 'demand',
 'dementia',
 'democracy',
 'dental',
 'dentistry',
 'depression',
 'description',
 'descriptor',
 'design',
 'designing',
 'destruction',
 'develop',
 'developer',
 'developing',
 'development',
 'device',
 'diabetes',
 'dialogue',
 'diaspora',
 'diatonic',
 'diet',
 'difficulty',
 'digital',
 'dimensional',
 'dino',
 'dinosaur',
 'diplomacy',
 'director',
 'disability',
 'disaster',
 'discounted',
 'discover',
 'discovering',
 'discovery',
 'discrete',
 'discussing',
 'discussion',
 'disease',
 'disorder',
 'disruptive',
 'distribution',
 'distributive',
 'diversity',
 'divide',
 'dna',
 'document',
 'dog',
 'domain',
 'doping',
 'dragonboard',
 'driven',
 'drug',
 'dynamic',
 'dynamical',
 'early',
 'earth',
 'east',
 'eat',
 'ebola',
 'eclipse',
 'ecology',
 'econometrics',
 'economic',
 'economics',
 'economy',
 'ecosystem',
 'edivet',
 'education',
 'educator',
 'effect',
 'effective',
 'effectively',
 'effectiveness',
 'efficiency',
 'efl',
 'egypt',
 'ehealth',
 'einstein',
 'election',
 'electric',
 'electronic',
 'electronics',
 'element',
 'elementary',
 'ell',
 'em',
 'email',
 'embedded',
 'emergence',
 'emergency',
 'emergent',
 'emerging',
 'emotion',
 'emotional',
 'employee',
 'employment',
 'empower',
 'empowering',
 'end',
 'energy',
 'engaged',
 'engagement',
 'engaging',
 'engine',
 'engineer',
 'engineering',
 'english',
 'enriched',
 'enrichment',
 'ensemble',
 'ensuring',
 'enterprise',
 'entertainment',
 'entrepreneur',
 'entrepreneurial',
 'entrepreneurship',
 'entry',
 'enumerative',
 'environment',
 'environmental',
 'epidemic',
 'epidemiology',
 'epigenetic',
 'episode',
 'eportfolio',
 'equity',
 'equivalence',
 'era',
 'esl',
 'essay',
 'essential',
 'establishing',
 'estate',
 'estimating',
 'estimation',
 'ethic',
 'ethical',
 'eu',
 'europe',
 'european',
 'evaluating',
 'evaluation',
 'every',
 'everybody',
 'everyday',
 'everyone',
 'evolution',
 'evolving',
 'exam',
 'examination',
 'example',
 'excel',
 'execution',
 'executive',
 'expanding',
 'expectation',
 'experience',
 'experiment',
 'experimental',
 'experimentation',
 'explaining',
 'explanation',
 'exploratory',
 'exploring',
 'exposed',
 'exposure',
 'express',
 'expression',
 'extracellular',
 'extraterrestrial',
 'eye',
 'face',
 'facilitating',
 'fact',
 'factor',
 'fail',
 'failure',
 'faith',
 'fall',
 'fallacy',
 'family',
 'fashion',
 'fear',
 'federalism',
 'feedback',
 'ferguson',
 'fibonacci',
 'fiction',
 'film',
 'filtering',
 'final',
 'finance',
 'financial',
 'financing',
 'finding',
 'finite',
 'fire',
 'firm',
 'first',
 'five',
 'fixing',
 'flourishing',
 'flow',
 'fluid',
 'fmri',
 'food',
 'footstep',
 'force',
 'forecasting',
 'foreign',
 'forensic',
 'form',
 'formal',
 'format',
 'formation',
 'formulation',
 'foundation',
 'foundational',
 'framework',
 'fraud',
 'freedom',
 'french',
 'friend',
 'front',
 'fulfillment',
 'function',
 'functional',
 'fundamental',
 'funding',
 'future',
 'galaxy',
 'galois',
 'game',
 'gaming',
 'gas',
 'gastronomy',
 'gate',
 'gathering',
 'gender',
 'gene',
 'general',
 'genesis',
 'genetics',
 'genome',
 'genomic',
 'genomics',
 'geodesign',
 'geopolitics',
 'geospatial',
 'germany',
 'getting',
 'gi',
 'giant',
 'giving',
 'global',
 'globalis',
 'globalised',
 'globalizado',
 'globalization',
 'globalized',
 'globalizing',
 'goal',
 'golden',
 'google',
 'governance',
 'government',
 'grammar',
 'grant',
 'graph',
 'graphic',
 'graphical',
 'gravity',
 'great',
 'greatness',
 'greedy',
 'greek',
 'greening',
 'groundwater',
 'grow',
 'growing',
 'growth',
 'guide',
 'guided',
 'guiding',
 'guitar',
 'gut',
 'hague',
 'half',
 'handheld',
 'hands',
 'happiness',
 'harder',
 'hardware',
 'harmonic',
 'harnessing',
 'healing',
 'health',
 'healthcare',
 'healthy',
 'hear',
 'hec',
 'help',
 'helpful',
 'heritage',
 'hi',
 'hidden',
 'high',
 'highlight',
 'hired',
 'hiring',
 'historical',
 'history',
 'hollywood',
 'holocaust',
 'home',
 'hope',
 'horizon',
 'horse',
 'hospital',
 'hospitality',
 'hotel',
 'hpv',
 'hr',
 'hsk',
 'html',
 'human',
 'humanitarian',
 'humanity',
 'humankind',
 'humility',
 'hypothesis',
 'ict',
 'idea',
 'identifying',
 'identity',
 'ideology',
 'ignite',
 'ii',
 'iii',
 'illness',
 'illuminated',
 'illustrated',
 'image',
 'imagemaking',
 'imagery',
 'imagining',
 'imc',
 'imooc',
 'impact',
 'implant',
 'implementation',
 'implementing',
 'importance',
 'improvement',
 'improving',
 'improvisation',
 'inclusion',
 'increasing',
 'india',
 'indigenous',
 'individual',
 'inductively',
 'industry',
 'infection',
 'infectious',
 'inference',
 'inferential',
 'influence',
 'influencing',
 'infographics',
 'inform',
 'informatics',
 'information',
 'infrastructure',
 'initiating',
 'innovating',
 'innovation',
 'innovative',
 'innovator',
 'input',
 'inquiry',
 'insight',
 'inspire',
 'inspiring',
 'institution',
 'instruction',
 'instructional',
 'instrument',
 'integrated',
 'integration',
 'intellectual',
 'intelligence',
 'intelligent',
 'intent',
 'interaction',
 'interactive',
 'interactivity',
 'interchange',
 'intercultural',
 'interdisciplinary',
 'interest',
 'interface',
 'interfacing',
 'intermediate',
 'international',
 'internet',
 'interpersonal',
 'interpretation',
 'interprofessional',
 'interval',
 'intervention',
 'interview',
 'interviewing',
 'intro',
 'introduction',
 'introductory',
 'intuitive',
 'invent',
 'investigating',
 'investing',
 'investment',
 'investor',
 'io',
 'ionic',
 'iot',
 'ipc',
 'irony',
 'islet',
 'israel',
 'issue',
 'iv',
 'jacobi',
 'japanese',
 'java',
 'javascript',
 'jazz',
 'jefferson',
 'jerusalem',
 'jew',
 'jewish',
 'jewry',
 'job',
 'journalism',
 'journalistic',
 'journey',
 'julia',
 'justice',
 'keeping',
 'kennedy',
 'key',
 'kidney',
 'kierkegaard',
 'know',
 'knowledge',
 'korean',
 'kunqu',
 'land',
 'language',
 'launching',
 'law',
 'le',
 'lead',
 'leader',
 'leadership',
 'leading',
 'lean',
 'learn',
 'learner',
 'learning',
 'least',
 'lesson',
 'let',
 'letter',
 'level',
 'liability',
 'liberty',
 'librarian',
 'lie',
 'life',
 'lifestyle',
 'light',
 'like',
 'lincs',
 'line',
 'linear',
 'linguistics',
 'linking',
 'list',
 'listen',
 'listening',
 'literacy',
 'literature',
 'live',
 'livestock',
 'living',
 'loading',
 'local',
 'logic',
 'logistics',
 'long',
 'longer',
 'loss',
 'luther',
 'luxury',
 'lyric',
 'machine',
 'machining',
 'macroeconomic',
 'macroeconomics',
 'magic',
 'magnetics',
 'maintainable',
 'major',
 'make',
 'making',
 'manage',
 'management',
 'manager',
 'managerial',
 'managing',
 'mandarin',
 'manipulation',
 'manufacturing',
 'manuscript',
 'map',
 'mar',
 'marine',
 'market',
 'marketing',
 'marketplace',
 'martin',
 'master',
 'mastering',
 'material',
 'math',
 'mathematical',
 'matlab',
 'matter',
 'maximize',
 'maximum',
 'mba',
 'meaningful',
 'measure',
 'measurement',
 'measuring',
 'meat',
 'mechanic',
 'medical',
 'medicine',
 'medieval',
 'medium',
 'meet',
 'meeting',
 'memo',
 'memory',
 'menorah',
 'mental',
 'message',
 'meta',
 'metaliteracy',
 'metastasis',
 'meteor',
 'method',
 'methodological',
 'metric',
 'microbiome',
 'microeconomics',
 'middle',
 'mind',
 'mindfulness',
 'mindset',
 'mindshift',
 'mindware',
 'minimum',
 'mining',
 'minor',
 'miracle',
 'missing',
 'mitigation',
 'mix',
 'mo',
 'mobile',
 'mobility',
 'modal',
 'model',
 'modeling',
 'modern',
 'modernity',
 'modpo',
 'modular',
 'molecular',
 'molecule',
 'monde',
 'money',
 'moneyball',
 'mongodb',
 'mooc',
 'moral',
 'morality',
 'motion',
 'motivating',
 'mountain',
 'movement',
 'movie',
 'moving',
 'mozart',
 'multimedia',
 'multimodal',
 'multiplatform',
 'multiple',
 'mundo',
 'municipal',
 'museum',
 'music',
 'musical',
 'musicianship',
 'muslim',
 'mutation',
 'mysql',
 'mystifying',
 'nan',
 'nand',
 'nanosensors',
 'nanotechnology',
 'narrative',
 'natural',
 'nature',
 'nazi',
 'nearest',
 'need',
 'negotiating',
 'negotiation',
 'negotiator',
 'neighbor',
 'network',
 'networking',
 'neurobiology',
 'neuroeconomics',
 'neurohacking',
 'neuromarketing',
 'neuron',
 'neuroscience',
 'never',
 'new',
 'news',
 'next',
 'nodejs',
 'non',
 ...]

In [11]:
len(columns)

1616

In [12]:
data_tfidf_title = pd.DataFrame(tfidf_dense, columns=columns)
data_tfidf_title.head()

,abdomen,ableton,aboriginal,abstract,academic,access,accounting,achievement,acquisition,across,...,worldviews,worm,worst,worth,write,writing,written,year,young,zika
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.416308,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# TFIDF на key_words

In [13]:
data_tokenize_lemmatize['key_words_tokenize_lemmat'] = data_tokenize_lemmatize['key_words_tokenize_lemmat'].astype(str)

In [14]:
cnt_vec = CountVectorizer()
processed = cnt_vec.fit_transform(data_tokenize_lemmatize['key_words_tokenize_lemmat'])
tfidf = TfidfTransformer()

In [15]:
tfidf_dense = tfidf.fit_transform(processed).todense()
len(cnt_vec.vocabulary_)

1027

In [16]:
columns = [None for i in range(len(cnt_vec.vocabulary_))]
for n in cnt_vec.vocabulary_:
    columns[cnt_vec.vocabulary_[n]] = n

In [17]:
data_tfidf_key_words = pd.DataFrame(tfidf_dense, columns=columns)
data_tfidf_key_words.head()

,abelton,abstract,abuse,academic,accessibility,accounting,accrual,acquisition,active,activity,...,wordpress,work,workflow,wrangling,writing,wxpython,xcode,xml,xp,yield
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
#объединяем рассчитанные значения tfidf по колонкам title & key_words в один большой датафрейм

In [19]:
data_num_tfidf = data_tokenize_lemmatize[['new_course_id','course_id']]

In [20]:
#label_encoder = LabelEncoder()
#data_num_tfidf['new_course_id'] = pd.Series(label_encoder.fit_transform(data_tokenize_lemmatize['course_id']))
data_num_tfidf.head()

   new_course_id                 course_id
0              0                2-speed-it
1              5  3d-printing-applications
2              6    3d-printing-revolution
3              7      3d-printing-software
4              9           abdomen-anatomy

In [21]:
len(data_num_tfidf)

1299

In [22]:
data_num_tfidf = data_num_tfidf.join(data_tfidf_title, lsuffix='_caller', rsuffix='_other')
data_num_tfidf.head()

,new_course_id,course_id,abdomen,ableton,aboriginal,abstract,academic,access,accounting,achievement,...,worldviews,worm,worst,worth,write,writing,written,year,young,zika
0,0,2-speed-it,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,3d-printing-applications,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,3d-printing-revolution,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7,3d-printing-software,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9,abdomen-anatomy,0.416308,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
data_num_tfidf = data_num_tfidf.join(data_tfidf_key_words, lsuffix='_caller', rsuffix='_other')
data_num_tfidf.head()

,new_course_id,course_id,abdomen,ableton,aboriginal,abstract_caller,academic_caller,access,accounting_caller,achievement,...,wordpress,work_other,workflow,wrangling,writing_other,wxpython,xcode,xml,xp,yield
0,0,2-speed-it,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5,3d-printing-applications,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,3d-printing-revolution,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,7,3d-printing-software,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9,abdomen-anatomy,0.416308,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# сохраним data_t_s  
data_num_tfidf.to_csv('data_num_tfidf_key_words_title.csv') #выполняется 1 раз

## Рекомендации на основе содержания

In [25]:
# ITEM_TO_USER

In [26]:
data_tfidf_course = pd.read_csv('data_num_tfidf_key_words_title.csv')
data_tfidf_course.head(2)

,Unnamed: 0,new_course_id,course_id,abdomen,ableton,aboriginal,abstract_caller,academic_caller,access,accounting_caller,...,wordpress,work_other,workflow,wrangling,writing_other,wxpython,xcode,xml,xp,yield
0,0,0,2-speed-it,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,5,3d-printing-applications,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [27]:
#избавимся от лишних столбцов
data_tfidf_course=data_tfidf_course.drop(['Unnamed: 0'], axis=1)

In [28]:
len(data_tfidf_course)

1299

In [29]:
#достанем информацию об оценках пользователей из data.csv
data_reviews = pd.read_csv('reviews_eng_courses_1.csv')
data_reviews.head()

,Unnamed: 0,course_id,reviewer_name,rating,review_text,reviewer_id
0,0,2-speed-it,Ravish,5,Very relevant and useful course designed for CIOs,60888
1,1,2-speed-it,Etienne R,2,This course does not say anything about digiti...,22416
2,2,2-speed-it,Viswas P,4,Videos that are presented in French could've b...,76208
3,3,2-speed-it,AN L,3,"The course content is quite good, though it co...",510
4,4,2-speed-it,Konstantin A,5,"Great piece of work, I especially liked a few ...",39708

In [30]:
#достанем информацию об оценках пользователей из data.csv
data_reviews = pd.read_csv('reviews_eng_courses_1.csv')
#избавимся от лишних столбцов
data_reviews=data_reviews.drop(['Unnamed: 0'], axis=1)
data_reviews=data_reviews.drop(['reviewer_name'], axis=1)
data_reviews=data_reviews.drop(['review_text'], axis=1)

data_reviews.head(2)

    course_id  rating  reviewer_id
0  2-speed-it       5        60888
1  2-speed-it       2        22416

In [31]:
data_reviews.rating = data_reviews.rating.astype(int)

In [32]:
#объединим датафрейм описания англоязычных курсов с отзывами пользователей 
data_tfidf =  data_reviews.join(data_tfidf_course.set_index('course_id'), on='course_id')
data_tfidf.head(2)

,course_id,rating,reviewer_id,new_course_id,abdomen,ableton,aboriginal,abstract_caller,academic_caller,access,...,wordpress,work_other,workflow,wrangling,writing_other,wxpython,xcode,xml,xp,yield
0,2-speed-it,5,60888,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2-speed-it,2,22416,0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
#объединим с датафреймом по оценкам пользователей

In [34]:
#посмотрим сколько отзывов поставил каждый пользователь
data_tfidf.groupby('reviewer_id')[['new_course_id']].count().sort_values('new_course_id', ascending=False)

             new_course_id
reviewer_id
-1                     825
 31616                 136
 34943                 125
 36039                 100
 61783                  66
 51060                  65
 48932                  60
 16636                  59
 17412                  58
 19166                  57
 17378                  56
 48995                  55
 16775                  55
 17465                  54
 17329                  54
 48975                  54
 10210                  50
 17344                  49
 32263                  46
 35295                  46
 32650                  45
 32245                  45
 10723                  45
 16729                  44
 34654                  44
 17333                  44
 34735                  44
 5560                   43
 42628                  42
 50249                  42
...                    ...
 40644                   1
 40645                   1
 40646                   1
 40647                   1
 40648                   1
 40650                   1
 40651                   1
 40652                   1
 40653                   1
 40654                   1
 40655                   1
 40656                   1
 40657                   1
 40658                   1
 40659                   1
 40660                   1
 40661                   1
 40662                   1
 40663                   1
 40664                   1
 40665                   1
 40666                   1
 40667                   1
 40668                   1
 40669                   1
 40670                   1
 40671                   1
 40672                   1
 40673                   1
 89698                   1

[88851 rows x 1 columns]

In [35]:
data_tfidf.groupby('new_course_id')[['rating']].count().sort_values('rating', ascending=False)

               rating
new_course_id
-1              45347
 1080             928
 665              907
 384              897
 51               893
 394              866
 1111             844
 995              808
 974              801
 1250             787
 1117             763
 1198             753
 1282             742
 235              731
 904              716
 900              700
 715              677
 108              668
 465              647
 907              647
 1280             643
 857              627
 591              627
 586              617
 75               609
 412              606
 350              574
 618              565
 943              559
 136              541
...               ...
 639                5
 1187               5
 1031               5
 610                4
 139                4
 228                4
 861                4
 877                4
 1013               4
 1049               3
 536                3
 1006               3
 879                3
 72                 3
 1134               3
 403                3
 1103               3
 140                3
 927                2
 173                2
 433                2
 917                2
 353                2
 888                2
 849                2
 90                 2
 1147               2
 1287               1
 480                1
 233                1

[960 rows x 1 columns]

In [36]:
#удалённые имена пользователей = -1

In [37]:
#выберем очень активного пользователя с reviewer_id = 36039
TARGET_USER = 10210
#выбарем все оцененные этим пользователем курсы
df_for_user = data_tfidf[data_tfidf['reviewer_id']==TARGET_USER]
df_for_user

,course_id,rating,reviewer_id,new_course_id,abdomen,ableton,aboriginal,abstract_caller,academic_caller,access,...,wordpress,work_other,workflow,wrangling,writing_other,wxpython,xcode,xml,xp,yield
3087,ageofjefferson,5,10210,42,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
5387,altruism,5,10210,62,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
7190,ancient-greeks,5,10210,79,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
7390,ancient-marine-reptiles,4,10210,80,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
8885,archoftitus,5,10210,104,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
11119,audio-engineering,4,10210,124,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
14792,big-history,5,10210,162,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
15318,bioinformatics-methods-1,5,10210,170,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
15389,bioinformatics-methods-1,5,10210,170,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
21813,client-needs-and-software-requirements,4,10210,270,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
41297,dyslexia-difficulties,5,10210,479,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
41414,early-vertebrate-evolution,5,10210,481,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
42931,electronics,5,10210,512,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
43111,emergent-phenomena,5,10210,520,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
45049,epidemiology,5,10210,552,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
46227,everyday-leadership-foundation,5,10210,582,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
49284,family-planning,4,10210,596,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
53300,forensic-science,5,10210,641,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
57090,gamedev-platforms,5,10210,673,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
60046,global-energy,5,10210,721,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
62299,health-care-innovation,5,10210,751,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
65458,human-language,5,10210,799,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.252863,0.0,0.0,0.0,0.0,0.0
66709,implant-dentistry,5,10210,816,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
79513,journey-of-the-universe,5,10210,959,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
89016,material-behavior,4,10210,1072,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
96071,modern-art-ideas,5,10210,1125,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
98304,motivate-people-teams,5,10210,1144,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
98305,motivate-people-teams,3,10210,1144,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
98787,mountains-101,4,10210,1145,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
103879,organizational-analysis,5,10210,1214,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
106231,philosophy,5,10210,1250,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
106302,philosophy,5,10210,1250,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
113171,private-equity,5,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
124164,regression-models,3,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
126586,robotics-learning,5,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
126606,robotics-mobility,1,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
128432,scala-spark-big-data,4,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
128910,schedule-projects,5,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
133019,software-processes-and-agile-practices,5,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
133484,solar-cell,5,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
133737,solar-system,5,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
133769,solid-waste-management,4,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
141485,teaching-english-capstone-2,5,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
142592,tesol-technology,5,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
143024,text-retrieval,3,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
143090,text-retrieval,5,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
143954,thomas-berry,5,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
150071,uva-darden-smart-growth-strategy-1,5,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
150218,uva-darden-smart-growth-strategy-2,5,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
152109,website-coding,4,10210,-1,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [38]:
df_for_user = df_for_user.loc[(df_for_user['new_course_id'] != -1) &
                                              (df_for_user['new_course_id'] != 1144) &
                                              (df_for_user['new_course_id'] != 170) &
                                              (df_for_user['new_course_id'] != 1250)]

In [39]:
df_for_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26 entries, 3087 to 103879
Columns: 2647 entries, course_id to yield
dtypes: float64(2643), int32(1), int64(2), object(1)
memory usage: 537.8+ KB

In [40]:
df_for_user['rating'] = df_for_user.rating.fillna(value = 0)

In [41]:
df_for_user = df_for_user.drop(['course_id'], axis=1)

In [42]:
len(df_for_user)

26

In [43]:
#df_1 = data_for_user.drop(['rating','average_score'], axis=1)
df_for_user_1 = df_for_user.drop(['rating'], axis=1)
df_for_user_1.head(3)

,reviewer_id,new_course_id,abdomen,ableton,aboriginal,abstract_caller,academic_caller,access,accounting_caller,achievement,...,wordpress,work_other,workflow,wrangling,writing_other,wxpython,xcode,xml,xp,yield
3087,10210,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5387,10210,62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7190,10210,79,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [44]:
from sklearn.linear_model import LinearRegression # метод наименьших квадратов
from sklearn.linear_model import Lasso, Ridge
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.preprocessing import StandardScaler

In [45]:
df_for_user['rating']

3087      5
5387      5
7190      5
7390      4
8885      5
11119     4
14792     5
21813     4
41297     5
41414     5
42931     5
43111     5
45049     5
46227     5
49284     4
53300     5
57090     5
60046     5
62299     5
65458     5
66709     5
79513     5
89016     4
96071     5
98787     4
103879    5
Name: rating, dtype: int32

In [46]:
#y = pd.Series(df_for_user['rating']).array
#y

In [47]:
#разделим обучающую и тестовую выборки
from sklearn.model_selection import train_test_split
X, y = df_for_user_1, df_for_user['rating']
X.head(10)

,reviewer_id,new_course_id,abdomen,ableton,aboriginal,abstract_caller,academic_caller,access,accounting_caller,achievement,...,wordpress,work_other,workflow,wrangling,writing_other,wxpython,xcode,xml,xp,yield
3087,10210,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5387,10210,62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7190,10210,79,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7390,10210,80,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8885,10210,104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11119,10210,124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14792,10210,162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21813,10210,270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41297,10210,479,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41414,10210,481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [48]:
len(X)

26

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [50]:
X_train

,reviewer_id,new_course_id,abdomen,ableton,aboriginal,abstract_caller,academic_caller,access,accounting_caller,achievement,...,wordpress,work_other,workflow,wrangling,writing_other,wxpython,xcode,xml,xp,yield
62299,10210,751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43111,10210,520,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89016,10210,1072,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11119,10210,124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46227,10210,582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45049,10210,552,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49284,10210,596,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7190,10210,79,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96071,10210,1125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57090,10210,673,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8885,10210,104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3087,10210,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60046,10210,721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103879,10210,1214,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79513,10210,959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66709,10210,816,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42931,10210,512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41414,10210,481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98787,10210,1145,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14792,10210,162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [51]:
 X_test

,reviewer_id,new_course_id,abdomen,ableton,aboriginal,abstract_caller,academic_caller,access,accounting_caller,achievement,...,wordpress,work_other,workflow,wrangling,writing_other,wxpython,xcode,xml,xp,yield
7390,10210,80,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
53300,10210,641,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
5387,10210,62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
41297,10210,479,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
21813,10210,270,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
65458,10210,799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.252863,0.0,0.0,0.0,0.0,0.0

In [52]:
from sklearn.preprocessing import StandardScaler

In [53]:
X.shape[0]

26

In [54]:
y.shape[0]

26

In [55]:
y.value_counts()

5    20
4     6
Name: rating, dtype: int64

In [56]:
X.new_course_id.value_counts()

959     1
673     1
641     1
582     1
520     1
1214    1
270     1
79      1
80      1
721     1
596     1
816     1
799     1
481     1
162     1
1125    1
104     1
42      1
479     1
552     1
751     1
1072    1
62      1
1145    1
124     1
512     1
Name: new_course_id, dtype: int64

In [57]:
#data_tokenize_lemmatize['title_tokenize_lemmat']  = [lemmat_(t) for t in tqdm(data_normalized_tokenize.title_normalized_tokenize)]

In [58]:
 X_train

,reviewer_id,new_course_id,abdomen,ableton,aboriginal,abstract_caller,academic_caller,access,accounting_caller,achievement,...,wordpress,work_other,workflow,wrangling,writing_other,wxpython,xcode,xml,xp,yield
62299,10210,751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43111,10210,520,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
89016,10210,1072,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11119,10210,124,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46227,10210,582,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
45049,10210,552,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49284,10210,596,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7190,10210,79,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
96071,10210,1125,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
57090,10210,673,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8885,10210,104,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3087,10210,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
60046,10210,721,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
103879,10210,1214,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
79513,10210,959,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
66709,10210,816,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
42931,10210,512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41414,10210,481,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
98787,10210,1145,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14792,10210,162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.fit_transform(X_test)

In [60]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [61]:
model.score(X_test, y_test)

0.11450071006526741

In [62]:
mean_absolute_error(model.predict(X_train), y_train)

5.773159728050814e-16

In [63]:
a = y_train.mean()
y_train.mean()

4.8

In [64]:
mean_absolute_error(np.ones((len(y_train)))*a, y_train)

0.3200000000000001

In [65]:
mean_absolute_error(model.predict(X_test), y_test)

0.3514911264769025

In [66]:
models = [LinearRegression, Lasso, Ridge, SVR, RandomForestRegressor]

In [67]:
for m in models:
    model = m()
    model.fit(X_train, y_train)
    print("{}. r2_train: {:.4f}, r2_test: {:.4f}, mse_train: {:.4f}, mse_test: {:.4f}".format(
        m.__name__,
        model.score(X_train, y_train),
        model.score(X_test, y_test),
        mean_squared_error(model.predict(X_train), y_train),
        mean_squared_error(model.predict(X_test), y_test)
    ))

LinearRegression. r2_train: 1.0000, r2_test: 0.1145, mse_train: 0.0000, mse_test: 0.1968
Lasso. r2_train: 0.0000, r2_test: -0.0800, mse_train: 0.1600, mse_test: 0.2400
Ridge. r2_train: 0.9999, r2_test: 0.0897, mse_train: 0.0000, mse_test: 0.2023
SVR. r2_train: 0.1742, r2_test: -0.1830, mse_train: 0.1321, mse_test: 0.2629
RandomForestRegressor. r2_train: 0.7813, r2_test: -0.1250, mse_train: 0.0350, mse_test: 0.2500

In [68]:
df_for_user['new_course_id']

3087        42
5387        62
7190        79
7390        80
8885       104
11119      124
14792      162
21813      270
41297      479
41414      481
42931      512
43111      520
45049      552
46227      582
49284      596
53300      641
57090      673
60046      721
62299      751
65458      799
66709      816
79513      959
89016     1072
96071     1125
98787     1145
103879    1214
Name: new_course_id, dtype: int64

# ITEM_TO_ITEM

In [69]:
from sklearn.neighbors import NearestNeighbors #попарное расстояние между объектами

In [70]:
#col=col.drop(['course_id'])

In [71]:
df_for_user = df_for_user.drop(['reviewer_id', 'rating'], axis=1)

In [72]:
col = df_for_user.columns

In [73]:
col

Index(['new_course_id', 'abdomen', 'ableton', 'aboriginal', 'abstract_caller',
       'academic_caller', 'access', 'accounting_caller', 'achievement',
       'acquisition_caller',
       ...
       'wordpress', 'work_other', 'workflow', 'wrangling', 'writing_other',
       'wxpython', 'xcode', 'xml', 'xp', 'yield'],
      dtype='object', length=2644)

In [74]:
X_unsup = data_tfidf_course[col]

In [75]:
sc = StandardScaler()

In [76]:
# nn = NearestNeighbors(n_neighbors=10, metric='minkowski', p=2) #var. metric='manhettan'

In [77]:
nn = NearestNeighbors(n_neighbors=10, n_jobs=-1, metric='cosine')

In [78]:
nn.fit(X_unsup)

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-1, n_neighbors=10, p=2,
                 radius=1.0)

In [79]:
df_for_user['new_course_id']

3087        42
5387        62
7190        79
7390        80
8885       104
11119      124
14792      162
21813      270
41297      479
41414      481
42931      512
43111      520
45049      552
46227      582
49284      596
53300      641
57090      673
60046      721
62299      751
65458      799
66709      816
79513      959
89016     1072
96071     1125
98787     1145
103879    1214
Name: new_course_id, dtype: int64

In [86]:
df_for_user.head(3)

,new_course_id,abdomen,ableton,aboriginal,abstract_caller,academic_caller,access,accounting_caller,achievement,acquisition_caller,...,wordpress,work_other,workflow,wrangling,writing_other,wxpython,xcode,xml,xp,yield
3087,42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5387,62,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7190,79,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
data_tfidf_course[data_tfidf_course['new_course_id'] == 80]

,new_course_id,course_id,abdomen,ableton,aboriginal,abstract_caller,academic_caller,access,accounting_caller,achievement,...,wordpress,work_other,workflow,wrangling,writing_other,wxpython,xcode,xml,xp,yield
57,80,ancient-marine-reptiles,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
nn.kneighbors(df_for_user[df_for_user['new_course_id'] == 80][col]) #возвращает id и расстояние до ближайших курсов
nn

NearestNeighbors(algorithm='auto', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=-1, n_neighbors=10, p=2,
                 radius=1.0)

In [83]:
neighbors = nn.kneighbors(df_for_user[df_for_user['new_course_id'] == 80][col]) 
neighbors

(array([[1.11022302e-16, 1.42366656e-04, 1.44909543e-04, 1.48808114e-04,
         1.49771454e-04, 1.50885865e-04, 1.51026467e-04, 1.51233121e-04,
         1.51441663e-04, 1.51465083e-04]]),
 array([[ 57, 338, 362, 348, 506, 313, 387, 425, 470, 850]], dtype=int64))

In [84]:
data_tfidf_course.iloc[neighbors[1][0]]

,new_course_id,course_id,abdomen,ableton,aboriginal,abstract_caller,academic_caller,access,accounting_caller,achievement,...,wordpress,work_other,workflow,wrangling,writing_other,wxpython,xcode,xml,xp,yield
57,80,ancient-marine-reptiles,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
338,451,dino101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
362,481,early-vertebrate-evolution,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
348,465,dog-emotion-and-cognition,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
506,687,genetics-evolution,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
313,419,dental-medicine-penn,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
387,519,emergence-of-life,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
425,583,evolution-today,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
470,641,forensic-science,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
850,1150,music-as-biology,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0